{% extends 'app/base.html' %}
{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}

{% block content %}


{% load humanize %}
<h2>Productos</h2>
<div class="productos">
    {% for t in todos %}
    <div class="producto">

        <div class="contenedor_producto">
            {% if t.imagen %}
            <img src="{{ t.imagen.url}}" alt="imagen producto">
            {% endif %}
            <div class="detalle">
                <h5>{{t.marca}}</h5>
                <h2>{{t.nombre | title}}</h2>
                <h3>${{t.precio | intcomma}}</h3>
                <a href="{% url 'detalle' t.id %}">Mas... </a>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-succes">Agregar al carrrito</a>
                
            </div>
            

        </div>

    </div>
    {% endfor %}
    
</div>


{% endblock %}